>> /etc/systemd/system/fixhub.service

[Unit]
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/opt/fixhubs.github.io/
Environment="PATH=/opt/fixhubs.github.io/fixhubenv/bin"
ExecStart=/opt/fixhubs.github.io/fixhubenv/bin/gunicorn --workers 3 --bind unix:mydemo.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
